beautifulsoup4==4.13.3
gdown==5.2.0
google-cloud-storage
google-generativeai
huggingface_hub
numpy~=1.26.4
openai~=0.28.1
opencv-python~=4.8.0.76
Pillow
pillow~=10.2.0
praw~=7.8.1
prawcore~=2.4.0
python-dotenv~=1.0.0
requests==2.32.3
scenedetect==0.6.5.1
seleniumbase==4.35.0
tensorflow==2.18.0
torch==2.3.1
torchvision==0.18.1
tqdm~=4.66.3
transformers
vertexai
